{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}




{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"  
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/user/wushoucheng">用戶中心</a>
            <a class="navbar-brand" href="/zhufang"> 用户注册 </a>
            <a class="navbar-brand" href="/job/city=北京&num=1">找工作</a>
            <a class="navbar-brand" href="/"> 企业信息 </a>
            <a class="navbar-brand" href="/"> 企业新闻——论坛</a>

        


        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>
                      <a href="/">地图</a>
                   
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    
                    <a href="/"> 服務平台 </a>
                    
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    
                    
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
           </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
                    
                </li>
            </ul>



        </div>





    </div>
</div>
{% endblock %}


{% block content %}

<div class="table table-bordered" >

<div class="row"> 
<div class="col-md-3" >
</div>
<div class="col-md-6"  >

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="https://yanzhi.lagou.com/question/440.html" target="_blank" data-lg-tj-id="1eA0" data-lg-tj-no="0101" data-lg-tj-cid="440">如何做文案能够让人眼前一亮，让读者有阅读欲望呢？</a></h3>
    </div>
    <div class="panel-body">
        <p class="answer_summary is-truncated" data-lg-tj-id="1eD0" data-lg-tj-no="0101" data-lg-tj-cid="509" style="word-wrap: break-word;">
                  题主，我想问你一个问题：你认为什么样的文案是好文案？为什么？&nbsp;我面试过许多内容运营候选人，经常会问对方：你觉得你写的哪句标题或者哪篇内容最好？为什么？很少有人会目光坚定地告诉我，“我喜欢XXX，因为#@#￥#%￥”。讲真，这个问题是个坑。这坑和写文案这事儿一样大。因为它没有唯一的标准。问这个问题，只想看看候选人是否有自己的判断，是否有足够的坚定，是否会被牵着鼻子走。&nbsp;如果非要说好文案的标准，我觉得... <a rel="nofollow" class="expand_answer" href="javascript:;" data-lg-tj-id="1eE0" data-lg-tj-no="0101" data-lg-tj-cid="509" style="display: inline;">展开<i class="icon_expand"></i></a></p>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="https://yanzhi.lagou.com/question/16585.html" target="_blank" data-lg-tj-id="1eA0" data-lg-tj-no="0102" data-lg-tj-cid="16585">当工作压力大时该如何释放？</a></h3>
    </div>
    <div class="panel-body">
        <p class="answer_summary is-truncated" data-lg-tj-id="1eD0" data-lg-tj-no="0102" data-lg-tj-cid="29134" style="word-wrap: break-word;">
                  工作压力分为内在压力和外在压力：一、内在压力1.技能原因，跳槽后的新工作、晋升、岗位调整等，自己技能和熟练程度，和岗位要求不相称，对工作造成难度，会出现压力。2.生活原因，家庭事件，个人健康等，会带到工作中给自己形成压力。二、外在压力1.人际关系，和领导、同事的矛盾冲突，会直接造成压力，甚至以辞职这种极端形式结束。2.工作强度，前面加工作难度归结为内在压力（因为大部分的难度在于自己能力，以及由此带... <a rel="nofollow" class="expand_answer" href="javascript:;" data-lg-tj-id="1eE0" data-lg-tj-no="0102" data-lg-tj-cid="29134" style="display: inline;">展开<i class="icon_expand"></i></a></p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="https://yanzhi.lagou.com/question/696.html" target="_blank" data-lg-tj-id="1eA0" data-lg-tj-no="0103" data-lg-tj-cid="696">产品经理是否可以成为一个自由职业者？</a></h3>
    </div>
    <div class="panel-body">
        <p class="answer_summary" data-lg-tj-id="1eD0" data-lg-tj-no="0103" data-lg-tj-cid="966" style="word-wrap: break-word;">
                  目前来说不太可能：产品的预期 公司的业务资源自由职业者很难获得！规划到执行是一个现实的问题，自由职业者如何来落地？时间成本 人力成本如何控制？
                  <a rel="nofollow" class="expand_answer" href="javascript:;" data-lg-tj-id="1eE0" data-lg-tj-no="0103" data-lg-tj-cid="966">展开<i class="icon_expand"></i></a>
                </p>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="https://yanzhi.lagou.com/question/1446.html" target="_blank" data-lg-tj-id="1eA0" data-lg-tj-no="0105" data-lg-tj-cid="1446">HR压薪资怎么办？</a></h3>
    </div>
    <div class="panel-body">
        <p class="answer_summary is-truncated" data-lg-tj-id="1eD0" data-lg-tj-no="0105" data-lg-tj-cid="3556" style="word-wrap: break-word;">
                  理性的看待这个问题！1、HR和你谈薪水了，代表你个人还比较符合，对你的肯定；2、HR是企业的代表，和求职者谈薪水是他的职业所在，每个人都用自己的价值才帮助公司来创造更多的价值，那再谈薪水时，HR也是会站在企业一方；3、找到你能接受的临界点既为公司招到合适的人才也为公司节约了人才成本，那是一举两得的事情，所以不要厌恶他，那是每一位HR的职责所在。4、你在面试之前就有一个大概的了解，而且很多公司都是标清... <a rel="nofollow" class="expand_answer" href="javascript:;" data-lg-tj-id="1eE0" data-lg-tj-no="0105" data-lg-tj-cid="3556" style="display: inline;">展开<i class="icon_expand"></i></a></p>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="https://yanzhi.lagou.com/question/2785.html" target="_blank" data-lg-tj-id="1eA0" data-lg-tj-no="0106" data-lg-tj-cid="2785">如何避免在面试过程中被套取工作经验？</a></h3>
    </div>
    <div class="panel-body">
        <p class="answer_summary is-truncated" data-lg-tj-id="1eD0" data-lg-tj-no="0106" data-lg-tj-cid="7087" style="word-wrap: break-word;">
                  我在一个公司讲整体架构的时候，对方的技术经理们都忙着把每个点详细地记录下来，然后还不时地对每个点努力地理解，问一些比较弱的问题，这里所谓的弱不是攻击对方，而是指这些问题都是比较低级，在使用具体的开发技术时都已经屏蔽了的细节。因为他们没有方案，也没有相关的经验，又需要做这样的软件系统，所以就想当然地以为要从原始的网络报文或者相关的协议去做应用，不过我还是比较详细地给他们解释了，毕竟我是开源运... <a rel="nofollow" class="expand_answer" href="javascript:;" data-lg-tj-id="1eE0" data-lg-tj-no="0106" data-lg-tj-cid="7087" style="display: inline;">展开<i class="icon_expand"></i></a></p>
    </div>
</div>

</div>

<div class="col-md-3" >
    
</div>
</div>



</div>

{% endblock  %}